@font-face {
	font-family: "Roboto";
	src: url('fonts/Roboto-light.ttf');
}

html, body {
  margin: 0;
  padding: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/*ICI SONT LISTES LES 12 PETITS BLOCS, LE MOYEN ET LE GRAND.*/


/*PETIT BLOC 1---------------------------------------1*/
#pb1{ 
   	padding: 0 !important;
	text-align: center;

  height: 33vw;
  width: 33vw;
  position: relative;

	background-color:#349B84;
}

#pb1 img{
	height:45%;
	margin-top: 15% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;; 
}

#pb1 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
	
}


/*PETIT BLOC 2---------------------------------------2*/

#pb2{
	height: 33vw;
  width: 33vw;
  position: relative;
   	padding: 0 !important;
	text-align: center;
	
	background-color: #80B5A2;
	
}

#pb2 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;

	
	
}

#pb2 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}


/*PETIT BLOC 3---------------------------------------3*/

#pb3{
	  height: 33vw;
  width: 33vw;
  position: relative;
   	padding: 0 !important;
	text-align: center;
		
	background-color:#ACCDB8 ;
	
}

#pb3 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb3 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}



/*PETIT BLOC 4---------------------------------------4*/


#pb4{
	  height: 33vw;
  width: 33vw;
  position: relative;
	
   	padding: 0 !important;
	text-align: center;
	
	background-color:#9FBDA9 ;
	
}

#pb4 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb4 p{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}


/*PETIT BLOC 5---------------------------------------5*/

#pb5{
	  height: 33vw;
  width: 33vw;
  position: relative;
   	padding: 0 !important;
	text-align: center;
	
	border-right: solid #DAE9DE 4px;
	border-bottom: solid #DAE9DE 4px;
	
	background-color:#FFFFFF ;
	
}

#pb5 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb5 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: #ACCDB8;
}


/*PETIT BLOC 6---------------------------------------6*/


#pb6{
	height: 33vw;
    width: 33vw;
    position: relative;
    padding: 0 !important;
	text-align: center;
	
	border-right: solid #DAE9DE 8px;
	border-left: solid #DAE9DE 4px;
	border-bottom: solid #DAE9DE 4px;
	
	background-color:#FFFFFF ;
	
}

#pb6 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb6 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: #ACCDB8;
}



/*PETIT BLOC 7---------------------------------------7*/


#pb7{
	  height: 33vw;
  width: 33vw;
  position: relative;
   	padding: 0 !important;
	text-align: center;
	
	background-color:#859D8C ;
	
}

#pb7 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb7 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}


/*PETIT BLOC 8---------------------------------------8*/


#pb8{
	  height: 33vw;
  width: 33vw;
  position: relative;
   	padding: 0 !important;
	text-align: center;
	
	border-top: solid #DAE9DE 4px;
	border-right: solid #DAE9DE 4px;
	border-bottom: solid #DAE9DE 0px;
	
	background-color:#FFFFFF ;
	
}

#pb8 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb8 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: #ACCDB8;
}


/*PETIT BLOC 9---------------------------------------9*/



#pb9{
    height: 33vw;
    width: 33vw;
    position: relative;
   	padding: 0 !important;
	text-align: center;
	
	border-top: solid #DAE9DE 4px;
	border-right: solid #DAE9DE 8px;
	border-left: solid #DAE9DE 4px;
	border-bottom: solid #DAE9DE 0px;
	
	background-color:#FFFFFF ;
	
}

#pb9 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb9 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: #ACCDB8;
}



/*PETIT BLOC 10---------------------------------------10*/


#pb10{
	  height: 33vw;
  width: 33vw;
  position: relative;
	padding: 0 !important;
	text-align: center;
	
	background-color:#ACCDB8;
	
}

#pb10 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}
#pb10 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}



/*PETIT BLOC 11---------------------------------------11*/


#pb11{
	height: 33vw;
  	width: 33vw;
  	position: relative;
   	padding: 0 !important;
	text-align: center;
	
	background-color:#80B5A2;
	
}
#pb11 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}
#pb11 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}


/*PETIT BLOC 12---------------------------------------12*/


#pb12{
	height: 33vw;
  	width: 33vw;
  	position: relative;
   	padding: 0 !important;
	text-align: center;	
	
	background-color:#349B84;
	
}

#pb12 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb12 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}



/*PETIT BLOC 13---------------------------------------13*/


#pb13{
	  height: 33vw;
  width: 33vw;
  position: relative;
   	padding: 0 !important;
	text-align: center;	
	
	background-color:#349B84;
	height:293px;
}

#pb13 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb13 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}
/*PETIT BLOC 14---------------------------------------14*/


#pb14{
   	padding: 0 !important;
	text-align: center;	
	
	background-color:#349B84;
	height:293px;
}

#pb14 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb14 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}
/*PETIT BLOC 15---------------------------------------15*/


#pb15{
   	padding: 0 !important;
	text-align: center;	
	
	background-color:#349B84;
	height:293px;
}

#pb15 img{
	height:35%;
	margin-top: 25% !important;
	margin-right: 25% !important;
	margin-left: 25% !important;
	margin-bottom: 10% !important;
}

#pb15 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30px; 
	color: aliceblue;
}



/*MOYEN BLOC 1---------------------------------------1*/

#mb1{

    height: 33vw;
    width: 66vw;
    position: relative;
	background-color:#DAE9DE ;
	padding: 10% !important;

	
}

#mb1 p {
	

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:aliceblue;

}

/*GRAND BLOC 1---------------------------------------2*/

#gb1{
	padding: 0 !important;
	text-align: center;	
    height: 66vw;
	width: 66vw;
  	position: relative;
	background-color:#364641 ;
	padding: 10% !important;
	
}

#gb1 img {
    height: 80%;
}

#gb1 p {
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	color:aliceblue;	
	padding-bottom: 5%;
	
}


.modal-dialog {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.modal-content {
    height: 100% !important;
    min-height: 100% !important;
    height: auto !important;
    border-radius: 0 !important;
}


a {
    text-decoration: none !important;    
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
@media (min-width:120px)  {
    p{
        font-size: 13px !important;
    }
    
    #pb5{	
        border-right: solid #DAE9DE 2px;
        border-bottom: solid #DAE9DE 2px;   
    }
    
    #pb6{
    border-right: solid #DAE9DE 4px;
	border-left: solid #DAE9DE 2px;
	border-bottom: solid #DAE9DE 2px;    
    }
    
    #pb9{
	border-top: solid #DAE9DE 2px;
	border-right: solid #DAE9DE 4px;
	border-left: solid #DAE9DE 2px;	
    }
    
    #pb8{
	border-top: solid #DAE9DE 2px;
	border-right: solid #DAE9DE 2px;
    }
}

@media (min-width:325px)  {
    p {
        font-size: 15px !important;
    }
    
    #pb5{	
        border-right: solid #DAE9DE 2px;
        border-bottom: solid #DAE9DE 2px;   
    }
    
    #pb6{
    border-right: solid #DAE9DE 4px;
	border-left: solid #DAE9DE 2px;
	border-bottom: solid #DAE9DE 2px;    
    }
    
    #pb9{
	border-top: solid #DAE9DE 2px;
	border-right: solid #DAE9DE 4px;
	border-left: solid #DAE9DE 2px;	
    }
    
    #pb8{
	border-top: solid #DAE9DE 2px;
	border-right: solid #DAE9DE 2px;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px)  {
    p{
    font-size: 20px !important;
    }
    
    #pb5{	
    border-right: solid #DAE9DE 2px;
    border-bottom: solid #DAE9DE 2px;   
    }
    
    #pb6{
    border-right: solid #DAE9DE 4px;
	border-left: solid #DAE9DE 2px;
	border-bottom: solid #DAE9DE 2px;    
    }
    
    #pb9{
	border-top: solid #DAE9DE 2px;
	border-right: solid #DAE9DE 4px;
	border-left: solid #DAE9DE 2px;	
    }
    
    #pb8{
	border-top: solid #DAE9DE 2px;
	border-right: solid #DAE9DE 2px;
    }
    
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px)  {
    
    p{
    font-size: 25px !important;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  {
    
    p{
    font-size: 30px !important;
    }
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {
    
    p{
    font-size: 40px !important;
    }
}

 /* hi-res laptops and desktops */
@media (min-width:1281px) {
    p{
    font-size: 50px !important;
    }

}
